<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form #fc="ngForm" (ngSubmit) = "onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="primeironome" [(ngModel)] = "relatorio.primeironome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input type="text" name="sobrenome" [(ngModel)] = "relatorio.sobrenome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de nacimento</ion-label>
      <ion-input type="date"  placeholder="DD/MM/AAAA" name="nacimento" [(ngModel)] = "relatorio.nacimento" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo Pessoa</ion-label>
      <ion-select type="text" name="pessoa" [(ngModel)] = "relatorio.pessoa" required>
        <ion-select-option>Fisíca</ion-select-option>
        <ion-select-option>Juritica</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF\CNPJ</ion-label>
      <ion-input type="text" name="cpf" [(ngModel)] = "relatorio.cpf" [brmasker]="{person: true}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select type="text" name="estado" [(ngModel)] = "relatorio.estado" required>
        <ion-select-option>Acre</ion-select-option>
        <ion-select-option>Alagoas</ion-select-option>
        <ion-select-option>Amapá</ion-select-option>
        <ion-select-option>Amazonas</ion-select-option>
        <ion-select-option>Bahia</ion-select-option>
        <ion-select-option>Ceara</ion-select-option>
        <ion-select-option>Distrito Federal</ion-select-option>
        <ion-select-option>Espírito Santo</ion-select-option>
        <ion-select-option>Goiás</ion-select-option>
        <ion-select-option>Maranhão</ion-select-option>
        <ion-select-option>Mato Grosso</ion-select-option>
        <ion-select-option>Mato Grosso do Sul</ion-select-option>
        <ion-select-option>Minas Gerais</ion-select-option>
        <ion-select-option>Pará</ion-select-option>
        <ion-select-option>Paraíba</ion-select-option>
        <ion-select-option>Paraná</ion-select-option>
        <ion-select-option>Pernambuco</ion-select-option>
        <ion-select-option>Piauí</ion-select-option>
        <ion-select-option>Rio de Janeiro</ion-select-option>
        <ion-select-option>Rio Grande do Norte</ion-select-option>
        <ion-select-option>Rio Grande do Sul</ion-select-option>
        <ion-select-option>Rondônia</ion-select-option>
        <ion-select-option>Roraima</ion-select-option>
        <ion-select-option>Santa Catarina</ion-select-option>
        <ion-select-option>São Paulo</ion-select-option>
        <ion-select-option>Sergipe</ion-select-option>
        <ion-select-option>Tocantins</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" name="cidade" [(ngModel)] = "relatorio.cidade" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" name="bairro" [(ngModel)] = "relatorio.bairro" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nº</ion-label>
      <ion-input type="number" name="number" [(ngModel)] = "relatorio.n" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)] = "relatorio.email" 
       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required #e="ngModel"></ion-input>
    </ion-item>
    <ion-text *ngIf="e.invalid && e.dirty" color="danger">E-mail inválido</ion-text>

    <ion-item>
      <ion-label>Telefone</ion-label>
      <ion-input type="tel" name="tel" [(ngModel)] = "relatorio.tel"  
        [brmasker]="{phone: true}"></ion-input>
    </ion-item>


    <ion-button type="submit" color="primary"[disabled] = "fc.invalid">Salvar</ion-button>
    <ion-button color="danger" routerLink="/cadastro">Voltar</ion-button>

</form>

</ion-content>
